body {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.box {
  height: 400px;
  color: white;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:first-child {
  background-color: tomato;
  flex-grow: 1;
  /* flex-grow: 0; <- defalut value */
  /* flex-shrink: 0; <- defalut value */
  flex-shrink: 5;
}

.box:nth-child(2) {
  background-color: orange;
  flex-grow: 2;
  flex-shrink: 0;
}

.box:last-child {
  background-color: teal;
  flex-grow: 1;
  flex-shrink: 1;
}
