@import "./reset.scss";

$bg: #f0f0f0;
$accent: #c7c2ca;
$borderWidth: 2px;

@keyframes slide {
  0% {
    transform: translateY(-3000%) rotateZ(90deg);
  }
  100% {
    transform: translateY(calc(0% - 10px)) rotateZ(90deg);
  }
}

body {
  height: 100vh;
  display: grid;
  background-color: black;
  gap: $borderWidth;
  grid-template-rows: 10fr 10fr 45fr 35fr;
  grid-template-columns: 0.3fr repeat(4, 1fr);

  div {
    background-color: $bg;
    overflow: hidden;
    &:nth-child(11) {
      grid-column: span 3;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .logo {
    grid-area: span 2 / span 2;
    font-size: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title {
    grid-column: span 3;
    font-size: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
  }

  .nav-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
    gap: 6px;
    .nav-btn__name {
      font-weight: 600;
      font-size: 18px;
    }
    .nav-btn__desc {
      font-size: 10px;
    }
  }

  .banner {
    grid-row: span 2;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    span {
      position: absolute;
      color: white;
      font-size: 24px;
      width: max-content;
      font-weight: 600;

      animation: slide 5s linear infinite;
    }
  }

  .post {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    overflow: hidden;
    &.post--big {
      .post__title {
        font-size: 148px;
        font-weight: 600;
      }
    }
    .post__title {
      font-size: 36px;
      font-weight: 600;
    }
    p {
      font-size: 18px;
    }
  }

  .featured {
    background-color: $accent;
    padding: 18px;
    display: flex;
    div {
      background-color: $bg;
      border: 1px solid black;
      padding: 40px;
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      flex-direction: column;
      h3 {
        font-size: 32px;
        font-weight: 600;
      }
      p {
        text-decoration: underline;
      }
    }
  }
}
